.login__body {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-III);
}

.login__title {
  color: var(--black-x);
}

.login__button {
  background-color: var(--black-II);
  color: var(--white-I);
  border: none;
  padding: 0.5rem 0;
  transition: all 0.3s ease-in-out;
}

.login__button:hover {
  background-color: var(--black-I);
  color: var(--white-I);
}
